<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>POMPOM Fruits Store Online</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="shortcut icon" href="./assets/log2.png" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <style>
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .loader {
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-top-color: #3490dc;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: spin 1s linear infinite;
      z-index: 100;
    }

    .loader-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
      z-index: 99;
    }

    .hidden {
      display: none;
    }
  </style>
</head>

<body class="bg-slate-700">

  <div id="loader-background" class="loader-background"></div>
  <div id="loader" class="loader"></div>

  <nav class="bg-gray-800 shadow-lg p-2  fixed top-0 w-full z-10 ">
    <div class="px-6">
      <div class="flex justify-between items-center p-2">
        <!-- Logo -->
        <div class="flex-shrink-0 flex items-center hidden md:block">
          <a href="#" class="text-white text-2xl hidden md:block font-bold h-16 w-[8rem] overflow-hidden rounded"><img
              src="/images/assets/log2.png" alt="" class=""></a>
        </div>

        <div class="flex-shrink-0 flex items-center block md:hidden">
          <!-- <a href="#"
                        class="text-white text-2xl font-bold block md:hidden h-12 w-12 overflow-hidden rounded-full"><img
                            src="./assets/logo1.png" alt="" class=""></a> -->
          <h1 class="text-red-500 font-bold text-xl"><span class="text-yellow-500">POM</span>POM</h1>
        </div>

        <!-- Delivering Updates -->
        <div class="hidden md:flex items-center justify-center">
          <i class="ri-map-pin-fill text-white text-xl"></i>
          <div class="ml-2">
            <p class="text-xs text-gray-400 leading-3">Delivering to <span>
                <%= userFeedData.location %>
              </span></p>
            <p class="text-white">Update location</p>
          </div>
        </div>

        <!-- Search Input -->
        <div class="hidden md:flex bg-slate-700 rounded-lg text-white items-center overflow-hidden w-1/2">
          <select class="search-selectv rounded-l w-16 text-white px-3 py-2 rounded-l bg-slate-700 focus:outline-none"
            id="addOption">
            <option>All</option>
          </select>
          <input type="text" placeholder="Search Products"
            class="px-3 w-[100%] py-2 w-64 bg-slate-700 text-white rounded-r focus:outline-none placeholder-gray-400">
          <div class="p-2 bg-gray-600 h-full rounded-r flex items-center">
            <i class="ri-search-line"></i>
          </div>
        </div>

        <!-- Shopping Cart -->
        <div class="relative" id="shopingCart">
          <i class="ri-shopping-bag-4-fill text-white text-3xl md:text-xl border border-indigo-600 p-2 rounded-full"
            id="showAllProductOfAddToCart">
            <div class="absolute -top-2 left-1/6 transform -translate-x-1/2 flex items-center justify-center">
              <p class="text-white bg-blue-800 px-2 py-1 rounded-full text-xs" id="productAvilable">0</p>
            </div>
          </i>
        </div>

        <!-- Profile -->
        <div class="flex items-center md:flex">
          <div class="relative items-center">
            <button id="profile-btn" class="text-white focus:outline-none flex flex-col items-center gap-1">
              <img class="h-7 w-7 rounded-full border-2 border-gray-400" src="<%= userFeedData.img %>" alt="">
              <div class="ml-2">
                <p class="text-base text-xs leading-3">
                  <%= userFeedData.name %>
                </p>
              </div>
            </button>


            <!-- Profile dropdown -->
            <div id="profile-dropdown"
              class="hidden mt-2 w-48 bg-gray-800 rounded shadow-lg overflow-hidden z-10 absolute right-1 md:right-2">
              <div class="py-1">
                <div class="w-full h-auto p-2 relative bg-gray-600 flex flex-col justify-center items-center rounded">
                  <img src="<%= userFeedData.img %>" alt="" class="h-16 w-16 rounded-full border-2 border-gray-400"
                    id="profileImag">
                  <a href="/feed" class="absolute hidden" id="profileImgEditor"><i class="ri-edit-2-fill "></i></a>
                </div>
                <div class="block px-4 py-2 text-sm text-gray-200">Name : Nitesh Kumar</div>
                <div class="block px-4 py-2 text-sm text-gray-200">Country : India </div>
                <div class="block px-4 py-2 text-sm text-gray-200">User Type : Buyer</div>
                <div class="flex justify-center items-center gap-10">
                  <a href="/logout"><button class="text-red-700 bg-slate-700 p-1 px-2 rounded-md"
                      id="logout-btn">Logout</button></a>
                  <button class="text-blue-700 bg-slate-700 p-1 px-2 rounded-md" id="logout-btn">Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Mobile Menu bar -->
        <div class="hidden flex gap-10 relative" id="menue">
          <i class="ri-menu-3-line text-white text-5xl"></i>
        </div>

      </div>
    </div>
  </nav>

  <div class="w-full h-auto mt-[5%]">
    <div
      class="mostFrequent w-full mt-20 md:mt-24 bg-gray-800 flex flex-grow-0 gap-10 items-center p-3 px-7 shadow-slate-700">
    </div>
    <!-- Swiper -->
    <div class="swiper mySwiper w-full bg-gray-700">
      <div class="swiper-wrapper bg-gray-700">
        <div class="swiper-slide flex justify-center items-center">
          <img src="/images/assets/Nitesh Kumar Yadav (2).png" alt="">
        </div>
        <div class="swiper-slide flex justify-center items-center ">
          <img src="/images/assets/Nitesh Kumar Yadav (3).png" alt="">
        </div>
        <div class="swiper-slide flex justify-center items-center">
          <img src="/images/assets/Nitesh Kumar Yadav (2).png" alt="">
        </div>
      </div>
      <div class="swiper-button-next text-white"></div>
      <div class="swiper-button-prev text-white"></div>
      <div class="swiper-pagination text-white"></div>
    </div>
  </div>

  <div class="main w-full h-auto bg-slate-700 text-white p-5 flex gap-5 flex-wrap justify-center pt-5 "
    id="main-section"></div>

  <div
    class="fixed top-[7%] md:top-[13%] avilableProductRaper pt-5 p-1 bg-gray-600 overflow-y-auto max-h-[93%] md:max-h-[87%]">
    <h3 class="text-xl font-semibold text-gray-200 text-center mb-2">All Selected Collections</h3>
    <div class="product-list">
    </div>
  </div>

  <section class="py-20 px-4 ">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-bold mb-6 text-white">Become a Product Creator</h2>
      <p class="text-lg text-gray-400 mb-8 ">Join our community of creators and start building your own products
        today.</p>
      <a href="/sellerProfile"
        class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-8 rounded-full shadow-md transition duration-300">Get
        Started</a>
    </div>
    <div class="max-w-4xl mx-auto mt-16 grid grid-cols-1 sm:grid-cols-2 gap-12">
      <div class="bg-white rounded-lg p-8 flex items-center justify-center shadow-md">
        <div class="text-blue-500 bg-blue-100 rounded-full p-4">
          <i class="ri-store-line ri-3x"></i>
        </div>
        <div class="ml-6">
          <h3 class="text-xl font-semibold text-gray-800 mb-2">Create Your Own Store</h3>
          <p class="text-gray-600">Start selling your products by creating your own online store.</p>
        </div>
      </div>
      <div class="bg-white rounded-lg p-8 flex items-center justify-center shadow-md">
        <div class="text-blue-500 bg-blue-100 rounded-full p-4">
          <i class="ri-money-dollar-circle-line ri-3x"></i>
        </div>
        <div class="ml-6">
          <h3 class="text-xl font-semibold text-gray-800 mb-2">Earn Money</h3>
          <p class="text-gray-600">Earn money by selling your products and growing your customer base.</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="bg-gray-900 text-white py-8 sm:py-12">
    <div class="container mx-auto flex flex-wrap justify-between px-20">
      <div class="w-full sm:w-1/2 md:w-1/4 mb-6 sm:mb-0">
        <h2 class="text-lg font-semibold mb-4">Navigation</h2>
        <ul>
          <li><a href="#" class="block hover:text-gray-400">Home</a></li>
          <li><a href="#" class="block hover:text-gray-400">Shop</a></li>
          <li><a href="#" class="block hover:text-gray-400">About Us</a></li>
          <li><a href="#" class="block hover:text-gray-400">Contact Us</a></li>
          <li><a href="#" class="block hover:text-gray-400">FAQ</a></li>
        </ul>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/4 mb-6 sm:mb-0">
        <h2 class="text-lg font-semibold mb-4">Social Media</h2>
        <ul>
          <li><a href="#" class="block hover:text-gray-400">Facebook</a></li>
          <li><a href="#" class="block hover:text-gray-400">Twitter</a></li>
          <li><a href="#" class="block hover:text-gray-400">Instagram</a></li>
          <li><a href="#" class="block hover:text-gray-400">Pinterest</a></li>
        </ul>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/4 mb-6 sm:mb-0">
        <h2 class="text-lg font-semibold mb-4">Contact Information</h2>
        <p class="mb-2">Address: Bhopal Madhya Pradesh 46202</p>
        <p class="mb-2">Phone: +91 9155061725</p>
        <p>Email: niteshkr16062004@gmail.com</p>
      </div>
    </div>
    <div class="border-t border-gray-800 mt-8 pt-8 text-center">
      <p class="text-sm">&copy; POMPOM Fruits Store <span class="hidden sm:inline-block">|</span> 2024-2026</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/javascripts/scrept.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      /* Quantity Update */
      document.querySelectorAll('.quantity').forEach(input => {
        input.addEventListener('input', function () {
          if (this.value < 1) {
            this.value = 1;
          }
        });
      });

      /* Razorpay-Request */
      $(document).ready(() => {
        $('.pay-form').submit(function (e) {
          e.preventDefault();
          var formData = $(this).serialize();
          $.ajax({
            url: '/createOrder',
            type: 'POST',
            data: formData,
            success: function (res) {
              if (res.success) {
                var options = {
                  "key": res.key_id,
                  "amount": res.amount,
                  "currency": "INR",
                  "name": res.product_name,
                  "image": "https://plus.unsplash.com/premium_photo-1678187782578-70b5a348f502?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                  "order_id": res.order_id,
                  "handler": function (response) {
                    alert('Payment Successful');
                  },
                  "prefill": {
                    "contact": res.contact,
                    "name": res.name,
                    "email": res.email
                  },
                  "notes": {
                    "description": res.description
                  },
                  "theme": {
                    "color": "#2300a3"
                  }
                };
                var razorpayObject = new Razorpay(options);
                razorpayObject.on('payment.failed', function (response) {
                  alert('Payment Failed');
                });
                razorpayObject.open();
              } else {
                alert(res.msg);
              }
            }
          });
        });
      });

      /* Payment Controller */
      function paymentCont(price) {
        const payment = `
          <div class="w-full text-white bg-gray-800 p-4 mt-4">
            <h1 class="text-center mb-2">Total Amount : <span class="totalAmount">₹ ${price}</span></h1>
            <div class="w-full h-0.5 bg-gray-500 mb-2"></div>
            <form class="pay-form">
              <input type="hidden" value="POMPOM Fruits Store" name="name">
              <input type="hidden" value="${price}" name="amount">
              <input type="hidden" value="done" name="description">
              <input type="submit" value="Pay Now"
                class="w-full bg-green-600 text-gray-100 py-3 rounded-lg cursor-pointer hover:bg-green-700 transition-colors duration-300">
            </form>
          </div>`;
        document.querySelector('.avilableProductRaper').innerHTML += payment;
      }

      paymentCont(3)

      /* Dynamically Add Products */
      function addToCart(price, url, productName, quantity) {
        const item = `
          <div class="product-entry flex mb-4">
            <div class="w-full bg-gray-800 p-4 rounded-md flex flex-wrap justify-between items-center gap-10">
              <div class="product-info flex-grow">
                <h3 class="text-white font-semibold">Product Name : ${productName}</h3>
                <p class="text-green-400 mt-2 mb-2"><span class="text-white">MRP of One Piece :</span> ₹ ${price}</p>
                <input type="number" placeholder="${quantity}"
                  class="text-white placeholder:text-white bg-green-600 px-4 py-1 rounded cursor-pointer w-16 quantity">
                <button class="remove-product-btn text-white bg-red-500 px-4 py-1 rounded cursor-pointer">Remove</button>
              </div>
              <div class="img-container lg:w-1/2">
                <img src="${url}" alt="Apple Image" class="rounded">
              </div>
            </div>
          </div>`;
        document.querySelector('.product-list').innerHTML += item;
      }

      const parentElement = document.querySelector('.main');
      if (parentElement) {
        parentElement.addEventListener("click", function (event) {
          if (event.target.classList.contains('addBtn')) {
            handlingAddToCartBtn(event);
          }
        });
      }

      function handlingAddToCartBtn(event) {
        const button = event.target;
        const product = button.closest('.cartFrame');
        if (product) {
          const item = {
            productName: product.querySelector('.contsPname').textContent,
            price: parseInt(product.querySelector('.price').textContent.slice(1).trim()),
            productImg: product.querySelector('img').src
          };
          productAvilable.textContent = parseInt(productAvilable.textContent) + 1;
          console.log(item);

          axios.post('/feed/addToCart', item)
            .then(response => {
              const res = response.data;
              window.location.reload();
              alert('Product added successfully');
            })
            .catch(error => {
              console.log(error);
              alert('Something went wrong');
            });
        } else {
          alert('Product Not Found')
        }
      }

      var cost = 0;

      function fetchAndDisplayCartItems() {
        axios.get('/feed/addToCart/show')
          .then(response => {
            const cartItems = response.data;

            cartItems.forEach(item => {
              cost += item.price
              addToCart(item.price, item.productImg, item.productName, item.quantity);
            });
            productAvilable.textContent = `${cartItems.length}`;

          })
          // .then(() => {
          //   paymentCont(cost);
          // })
          .catch(error => {
            console.error('Error fetching data:', error);
          });
      }

      window.onload = fetchAndDisplayCartItems;

      window.addEventListener('load', function () {
        document.getElementById('loader').classList.add('hidden');
        document.getElementById('loader-background').classList.add('hidden');
      });

    });

  </script>
</body>

</html>